<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteCond %{HTTP_HOST} ^seagreen-scorpion-194717.hostingersite.com$ [NC,OR]
  RewriteCond %{HTTP_HOST} ^www.seagreen-scorpion-194717.hostingersite.com$
  RewriteCond %{REQUEST_URI} !dist/
  RewriteRule (.*) /dist/$1 [L]
</IfModule>